<div id="loading-container"  class="pace pace-inactive">
    <div id="loading" class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
        <div class="pace-progress-inner">
         
        </div>
    </div>
    <div class="pace-activity">
        <i class="fas fa-spinner fa-pulse link-theme"></i>
    </div>
</div>

@code {

    //protected override void OnInitialized()
    //{
    //    //var results = await Task.Run();

    //    NavigationManager.LocationChanged += LocationChanged;
    //}

    //async void LocationChanged(object sender, LocationChangedEventArgs e)
    //{
    //    //await js.InvokeVoidAsync("OnReady", "");
    //    string navigationMethod = e.IsNavigationIntercepted ? "HTML" : "code";
    //  //System.Diagnostics.Debug.WriteLine($"Notified of navigation via {navigationMethod} to {e.Location}");
    //}
    //public void Dispose()
    //{
    //  // Unsubscribe from the event when our component is disposed
    //  NavigationManager.LocationChanged -= LocationChanged;
    //}
}