 <div id="toast" class="toasts-container">
   @* <div class="toast fade mb-3" data-autohide="false" id="toast-1">
        <div class="toast-header bg-primary">
            <i class="far fa-bell text-muted me-2"></i>
            <strong id="ToastTitle" class="me-auto"></strong>
            <small id="ToastSmall"></small>
            <button role="button" type="button" class="btn-close" data-bs-dismiss="toast"></button>
        </div>
        <div id="ToastBody" class="toast-body">
        </div>
    </div>*@
</div>
